<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Error</title>
    <link rel="stylesheet" href="https://bootswatch.com/5/flatly/bootstrap.min.css" />
  </head>
  <body>
    <div class="container">
      <div class="row justify-content-around mt-5">
        <div class="alert alert-danger" role="alert"><%=error%></div>
      </div>
    </div>
  </body>
</html>
