<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta description="test" />
    <title>File upload: Multer</title>
    <link rel="stylesheet" href="https://bootswatch.com/5/flatly/bootstrap.min.css" />
  </head>
  <body>
    <div class="container">
      <div class="row justify-content-around mt-5">
        <div class="col-5">
          <div class="row">
            <a href="/single-form" role="button" class="btn btn-block btn-success">Single</a>
          </div>
        </div>
        <div class="col-5">
          <div class="row">
            <a href="/multi-form" role="button" class="btn btn-block btn-info">Multiple</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
