<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Your files</title>
    <link rel="stylesheet" href="https://bootswatch.com/5/flatly/bootstrap.min.css" />
  </head>
  <body class="container">
    <div class="row justify-content-center">
      <% insertedPics.forEach(({path, name}) => {%>
      <div class="col-md-6">
        <div class="row justify-content-center">
          <img src="<%=path %>/<%=name%>" alt="Your upload" class="img-fluid" />
        </div>
      </div>
      <%}) %>
    </div>
  </body>
</html>
